body {
  background-image: url('https://image.ibb.co/de6JzG/bitmap_1_1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sect {
  padding: 40px 0;
  position: relative;
}

.sect_padding_top {
  padding-top: 40px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  background-color: $color-blue;
  border-radius: 10px;
  padding: 10px 25px;
  color: $color-white;
  box-shadow: 0px 18px 13px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.btn:hover {
  box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
  background-color: $color-blue;
  color: $color-white;
}

.btn_revert {
  background-color: transparent;
  color: $color-grey;
  box-shadow: none;
  border: 1px solid #c9d9e9;
}

.btn_revert:hover {
  background-color: transparent;
  color: $color-dark-blue;
  box-shadow: none;
  border: 1px solid $color-grey;
}

.btn_width {
  width: 120px;
}

.btn_white {
  background-color: $color-white;
  border: 1px solid #ededed;
  color: $color-grey;
}

.btn_white:hover {
  background-color: $color-white;
  color: $color-grey;
}

.btn_red {
  background-color: $color-red;

  &:hover {
    background-color: red;
  }
}

.site {
  text-align: center;
}

.site_title {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.site_subtitle {
  font-size: 22px;
  color: $color-grey;
  margin: 15px 0 40px 0;
  text-align: center;
}

.site_img {
  margin-top: 50px;
  display: inline-block;
  width: 77%;
}
.site_box-link .btn_revert {
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  .site_img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .sect {
    padding: 20px 0;
  }
  .sect_padding_top {
    padding-top: 80px;
  }

  .site_title {
    font-size: 24px;
  }
  .site_subtitle {
    font-size: 18px;
    margin: 10px 0 20px 0;
  }
  .site_img {
    margin-top: 30px;
  }

  .btn {
    font-size: 12px;
    padding: 8px 8px;
  }
  .btn_width {
    width: 100px;
  }
}
