body {
  background-image: url('https://image.ibb.co/de6JzG/bitmap_1_1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

.sect {
  padding: 40px 0;
  position: relative;
}

.sect_padding_top {
  padding-top: 60px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

input,
textarea {
  padding: 10px;
  border-radius: 10px;
  resize: none;
  border: none;
}

.btn {
  background-color: $color-blue;
  border-radius: 10px;
  padding: 10px 25px;
  color: $color-white;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 18px 13px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.btn:hover {
  box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
  background-color: $color-blue;
  color: $color-white;
}

.btn_revert {
  background-color: transparent;
  color: $color-grey;
  box-shadow: none;
  border: 1px solid #c9d9e9;
}

.btn_revert:hover {
  background-color: transparent;
  color: $color-dark-blue;
  box-shadow: none;
  border: 1px solid $color-grey;
}

.btn_width {
  width: 120px;
}

.btn_red {
  background-color: $color-red;

  &:hover {
    background-color: red;
  }
}

.btn_green {
  background-color: $color-green;

  &:hover {
    background-color: green;
  }
}

.site {
  text-align: center;
}

.site_title {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.site_subtitle {
  font-size: 22px;
  color: $color-grey;
  margin: 15px 0 40px 0;
  text-align: center;
}

.site_img {
  margin-top: 50px;
  display: inline-block;
  width: 77%;
}
.site_box-link .btn_revert {
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  .site_img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .sect {
    padding: 20px 0;
  }
  .sect_padding_top {
    padding-top: 80px;
  }

  .site_title {
    font-size: 24px;
  }

  .site_subtitle {
    font-size: 18px;
    margin: 10px 0 20px 0;
  }

  .site_img {
    margin-top: 30px;
  }

  .btn {
    font-size: 12px;
    padding: 8px 8px;
  }

  .btn_width {
    width: 100px;
  }
}

.material_textfield {
  position: relative;

  label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: $color-grey;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: 0.1s ease-out;
    transform-origin: left top;
    pointer-events: none;
  }

  input,
  textarea {
    font-size: 1rem;
    outline: none;
    border: 1px solid $color-grey;
    border-radius: 5px;
    padding: 1rem 0.7rem;
    color: $color-grey;
    transition: 0.1s ease-out;
    border-radius: 10px;
  }

  textarea {
    height: 200px;
  }

  input:focus,
  textarea:focus {
    border-color: $color-blue;
  }

  input:focus + label,
  textarea:focus + label {
    color: $color-blue;
    top: 0;
    transform: translateY(-50%) scale(0.9);
  }

  input:not(:placeholder-shown) + label,
  textarea:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(0.9);
  }
}

.bold {
  font-weight: bold;
}
