$font-dm-sans: 'DM Sans', sans-serif;

$color-primary: #16212C;
$color-white: #fff;
$color-white-two: #aaa;
$color-black: #000;
$color-green: #258925;
$color-blue: #3a9fff;
$color-dark-blue: #1f4568;
$color-yellow: #E0C041;
$color-red: #EE4D3F;
$color-grey: #8198ae;