.users_modal {
  width: 700px !important;
}

.users_list {
  border-radius: 5px;
  list-style: none;
}

.users_list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:last-child {
    border-bottom: none;
  }

  &_content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_image {
    border-radius: 50%;
    width: 64px;
  }

  &_first_letter {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_email {
    margin-left: 20px;
    font-size: 18px;
  }

  &_checkbox {
    input[type='checkbox'] {
      display: none;
    }

    input[type='checkbox']:checked + label {
      background-color: black;
    }

    label {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      background-color: #ccc;
      border: 1px solid rgb(179, 179, 179);
      cursor: pointer;
      height: 1.2rem;
      width: 1.2rem;
      transition: 100ms ease-in;
    }
  }
}

.board_users_list {
  display: flex;
  gap: 5px;

  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(206 206 206);
    width: 40px;
    height: 40px;
  }
}
