$color: #555;
$main-background: #5b9eed;
$white: #fff;
$white-two: #aaa;

.users_list_wrapper {
  max-width: 400px;
  margin: 50px auto;
  background-color: red !important;
}

.users_list {
  background: $white;
  border-radius: 2px;
  list-style: none;
  padding: 10px 20px;
}

.users_list_item {
  display: flex;
  margin: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:last-child {
    border-bottom: none;
  }

  &_image {
    border-radius: 50%;
    width: 64px;
  }

  &_content {
    margin-left: 20px;
    h4,
    p {
      margin: 0;
    }
    h4 {
      margin-top: 10px;
      font-size: 18px;
    }
    p {
      margin-top: 5px;
      color: $white-two;
    }
  }
}
