.list_item {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
  padding: 0.5rem;
}

.card_tag {
  font-size: 0.75rem;
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
  font-weight: 700;
  color: white;
  margin-bottom: 0.75rem;
  display: inline-block;
}

.card_image {
  width: 100%;
  margin-bottom: 0.25rem;
}

.card_tag_design {
  background-color: #61bd4f;
}

.card_tag_browser {
  background-color: #c377e0;
}

.card_tag_mobile {
  background-color: #f2d600;
}

.card_tag_high {
  background-color: #eb5a46;
}

.card_tag_low {
  background-color: #00c2e0;
}

.card_title {
  color: #17394d;
  margin-bottom: 0.75rem;
}

.card_actions {
  display: flex;
  align-items: center;
}

.card_actions_wrapper i {
  color: #798d99;
  margin-right: 0.5rem;
}

.card_actions_text {
  color: #798d99;
  font-size: 0.8rem;
  margin-left: -0.25rem;
  margin-right: 0.5rem;
}

.card_users {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.card_users_item {
  margin-left: 0.25rem;
  padding: 0 !important;
  border: none !important;
  width: 28px;
  height: 28px;

  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(206 206 206);
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
}

.avatar_image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.members_title {
  margin-bottom: 10px;
}

.add_user_to_card_box {
  display: flex;
  justify-content: start;

  .card_users_left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }

  .add_users_dropdown {
    width: 28px;
    height: 28px;

    button {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      font-size: 14px;
      background-color: rgb(211, 210, 210);

      &:hover {
        background-color: rgb(184, 182, 182);
      }
    }

    ul {
      width: 200px;
      margin: 0;
      background-color: #fff;
      margin: 10px 0;
      border-radius: 5;

      li {
        height: 10px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 400;
        line-height: 0;
        background-color: #fff;
        padding: 16px 10px;
        color: #4d4d4d;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        margin-bottom: 10px;
        word-wrap: break-word;
        cursor: default;
        border-radius: 5;

        .checkbox_container {
          display: flex;
          align-items: center;
        }

        .checkmark {
          width: 16px;
          height: 16px;
          background-color: #eee;
          margin-left: 8px;
          cursor: pointer;
          border-radius: 5px;
        }

        .checkbox_container input {
          opacity: 0;
          cursor: pointer;
          height: 16px;
          width: 16px;
        }

        .checkbox_container input:checked + .checkmark {
          background-color: #2196f3;
          border-radius: 5px;
        }

        .checkbox_container:hover input:not(:checked) + .checkmark {
          background-color: #ccc;
          border-radius: 5px;
        }

        .checkbox_container input:checked + .checkmark:after {
          visibility: visible;
        }
      }
    }
  }
}
