.header {
  padding: 30px 25px;
}

.header_elenco {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header_menu {
  float: right;
}

.header_el {
  padding: 0 25px;
  display: inline-block;
}

.header_img {
  display: inline-block;
  vertical-align: middle;
}

.header_logo,
.header_menu {
  display: inline-block;
  vertical-align: middle;
}

.header_title {
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}

.header_light {
  color: $color-grey;
}

.header_link {
  color: $color-dark-blue;
  font-size: 14px;
}

.header_link:hover {
  text-decoration: none;
  color: $color-blue;
}

@media screen and (max-width: 1024px) {
  .collapse {
    display: none;
  }
  .navbar-toggle {
    margin: 0;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
  }

  .header_container {
    width: 100%;
    padding: 0;
  }

  .header_menu {
    width: 100%;
  }

  .header {
    background-color: #fff;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
  }

  .header_logo {
    padding: 12px 20px 12px 20px;
  }

  .header_el {
    display: block;
    padding: 10px 20px;
  }

  .header .btn_white,
  .header .btn_white:hover {
    padding: 0;
    border: 0;
    box-shadow: none;
    color: #fff;
    background-color: transparent;
  }
}
