.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 20px;

  input,
  textarea {
    width: 100%;
  }
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  color: #333;
}

.close_button:hover {
  color: $color-black;
}

.modal_content {
  margin-top: 10px;
}

.modal_resource_title,
.modal_resource_title_input {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  padding: 1rem;
}

.modal_resource_description {
  font-size: 1rem;
  color: #333;
  padding: 1rem;
}

.modal_footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.card_modal {
  width: 60%;
}

.cardMembersTitle {
  padding: 1rem;
  font-weight: bold;
}

.card_members {
  padding: 1rem;
  display: flex;
  justify-content: start;
  gap: 5px;

  ol {
    display: flex;
  }

  .card_avatars_item {
    width: 40px;
    height: 40px;
  }

  .addMemberBtn {
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 25px;
    border: 1px solid $color-grey;
    border-radius: 50%;

    &:hover {
      background: rgb(245, 240, 240);
    }
  }
}
